# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env

# Django
*.sqlite3
staticfiles/
media/

# Node
node_modules/
frontend/dist/
frontend/.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Pytest
.pytest_cache/
.coverage
htmlcov/
